
/site
/MANIFEST
/README.html
/*.tar
/*.bak
/*.tar.gz
/*.so
/*.o
/*.rock

*.json
*.out
*.gcov
*.gcda
*.gcno

/5.*
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/lua-csnappy*
/debian/lua_versions
/debian/files
/debian/tmp/*
/debian/trash

