Source: lua-csnappy
Section: interpreters
Priority: optional
Maintainer: nobody
Build-Depends: debhelper (>= 9), dh-lua
Standards-Version: 4.0.0
Homepage: http://fperrad.github.io/lua-csnappy/

Package: lua-csnappy
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: fast compressor/decompressor
 lua-csnappy is a binding of the csnappy library which implements the
 Google's Snappy (de)compressor.

Package: lua-csnappy-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: lua-csnappy (= ${binary:Version}), ${misc:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: lua-csnappy dev
 This package contains the development files of the lua-csnappy library,
 .
 Documentation is also shipped within this package.
